body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Images/Background\ image.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

#gameArea {
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px solid #000;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#gameOver {}

#basket {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 120px;
    height: 40px;
    /*background-color: brown ;*/
    background-image: url(Images/Elements/Basket.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%);
    background-position: center;
   
}

.apple {
    position: absolute;
    width: 60px;
    height: 40px;
    /*background-color: red;
    border-radius: 50%;*/
    background-image:url(Images/Elements/4.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-position: center;
}
